<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>TicketEase</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Movie Catalogue</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/addMovie">Add new movie</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <div class ="container mt-4">
        <h1 class="text-center mb-4">Welcome to TicketEase, your ultimate destination for a seamless movie-going experience. </h1>
        <p class="text-center"> We are a premier e-commerce platform dedicated to making your movie ticket purchasing process as convenient and enjoyable as possible. Whether you're planning a spontaneous movie night or booking tickets in advance for the latest movies release, we have you covered.
        
        <br><br><br>
        <h3 style="text-align: center">Connect with us!</h3>
        <br>
        <div class="container-fluid" >
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3" >
                    <ul>
                        <li style="list-style-type: none">&nbsp;</li>
                        <li style="list-style-type: none"><i class="fa fa-envelope" aria-hidden="true"></i> TicketEase@gmail.com</li>
                        <li style="list-style-type: none">&nbsp;</li>
                        <li style="list-style-type: none"><i class="fa fa-phone" aria-hidden="true"></i> 6789 1234</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>